:root {
  --gold: #ffa845;
  --darkGrey: #1a1a1a;
  --lightGrey: #333333;
  --red: #ff5447;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: bold;
  outline: none;
}
body{
  background-image: linear-gradient(to bottom right, var(--darkGrey), var(--lightGrey));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header{
  width: 100%;
  font-size: 150%;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--lightGrey);
  color: white;
  padding: 12px 0px;
  text-align: center;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-gap: 8px;
}
.notes{
  grid-column-start: 1;
  width: 50%;
  max-height: 300px;
  height: fit-content;
  overflow: auto;
  margin: 8px auto;
  padding: 8px;
  border-radius: 15px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
}
.notes h1{
  color: var(--gold);
  text-align: center;
  margin: 12px;
}
.notes p{
  color: var(--lightGrey);
  font-size: 90%;
  margin: 12px;
  font-weight: normal;
}
.notes span{
  font-weight: bold;
  font-style: italic;
}
.messageBox{
  width: 95%;
  height: 65vh;
  overflow: auto;
  border: none;
  border-radius: 15px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  margin: 22px auto;
  padding: 8px;
}
#line{
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--lightGrey);
}
#serverMessage{
  display: block;
  display: inline-block;
  color: white;
  background-color: var(--lightGrey);

  width: fit-content;
  min-width: 150px;
  max-width: 600px;

  word-break: break-all;

  border: none;
  border-radius: 15px;

  margin: 16px 51% 16px 16px;
  padding: 8px 12px;

  font-weight: bold;
}
#serverMessage span{
  color: #ffa845;
  font-size: 55%;
  font-weight: normal;
}
#userMessage{
  float: right;
  text-align: right;
  display: inline-block;
  color: white;
  background-color: var(--lightGrey);

  width: fit-content;
  max-width: 600px;

  word-break: break-all;

  border: none;
  border-radius: 15px;

  margin: 16px 16px 16px 51%;
  padding: 8px 12px;

  font-weight: bold;
}
#userMessage span{
  color: #ffa845;
  font-size: 55%;
  font-weight: normal;
}
.messageBar{
  display: grid;
  width: 95%;
  margin: 8px auto;
  padding: 4px;
  grid-template-columns: 10% auto 10%;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.messageBar input{
  width: 95%;
  min-width: 50px;

  border: none;
  border-radius: 15px;

  background-color: var(--darkGrey);

  margin: 8px auto;
  padding: 8px;
}
#message{
  background-color: var(--lightGrey);
  caret-color: var(--gold);
  color: var(--gold);
}
#send{
  transition: 0.4s;
  cursor: pointer;
  border: 2px solid var(--gold);
  border-radius: 15px;
  background-color: var(--gold);
  color: white;
}
#send:hover{
  transition: 0.4s;
  box-shadow: 0px 0px 10px 1px var(--gold);
}
#exit{
  transition: 0.4s;
  cursor: pointer;
  border: 2px solid var(--red);
  border-radius: 15px;
  background-color: var(--red);
  color: white;
}
#exit:hover{
  transition: 0.4s;
  box-shadow: 0px 0px 10px 1px var(--red);
}
.login{
  grid-column-start: 2;
  width: 50%;
  min-width: 300px;
  height: fit-content;
  margin: 8px auto;
  padding: 8px;
  border-radius: 15px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  text-align: center;
  color: white;
  font-size: 90%;
}
.inputs input{
  width: 60%;
  display: inline-block;

  border: none;
  border-radius: 15px;

  background-color: var(--lightGrey);
  outline: none;
  color: var(--gold);
  caret-color: var(--gold);

  margin: 4px auto;
  padding: 8px;
}
.inputs span{
  position: absolute;
  right: 20%;
  transform: translate(0, -50%);
  top: 50%;
  font-size: 100%;
  cursor: pointer;
}
.password{
  position: relative;
}
.options input{
  transition: 0.4s;
  width: 65%;
  min-width: 165px;
  display: block;

  border: none;
  border-radius: 15px;

  background-color: var(--lightGrey);
  outline: none;
  color: grey;

  margin: 8px auto;
  padding: 8px;
  cursor: pointer;
}
.options input:hover{
  transition: 0.4s;
  color: white;
  background-color: var(--gold);
  box-shadow: 0px 0px 10px 1px var(--gold);
}
.usersBar{
  transition: 0.4s;
  width: 95%;
  overflow: auto;
  border: none;
  border-radius: 15px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  margin: 22px auto;
  padding: 16px 8px;
  color: white;
}
#notTyping{
  transition: 0.4s;
  display: inline-block;
  margin: 0 16px;
  padding: 8px 16px;
  background-color: var(--lightGrey);
  border-radius: 15px;
}
#isTyping{
  transition: 0.4s;
  display: inline-block;
  margin: 0 16px;
  padding: 8px 16px;
  background-color: var(--gold);
  box-shadow: 0px 0px 10px 1px var(--gold);
  border-radius: 15px;
}
.footer{
  width: 100%;
  color: white;
  background-color: var(--darkGrey);
  position: fixed;
  bottom: 0;
}
.footer h1{
  font-size: 125%;
  text-align: right;
}
/*Scrollbar*/
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: var(--darkGrey);
}
::-webkit-scrollbar-thumb{
  background: var(--lightGrey);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--gold);
}
#eye{
  color: var(--darkGrey);
  transition: 0.4s;
}
