:root {
  --gold: #ffa845;
  --red: #ff5447;
  --darkGrey: #1a1a1a;
  --lightGrey: #333333;
}
*{
  margin: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: bold;
  outline: none;
  transition: 0.5s;
  border-radius: 15px;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to bottom right, var(--darkGrey), var(--lightGrey));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Home */
.header{
  display: grid;
  width: 100%;
  grid-template-columns: auto fit-content(100%);
  font-size: 120%;
  background-color: var(--darkGrey);
  color: white;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 0;
}
.header .headerTitle{
  width: fit-content;
}
.activeUsers{
  color: white;
  width: fit-content;
  display: inline-block;
  font-size: 90%;
}
.header .navigation{
  width: 100%;
  height: 100%;
  text-align: right;
  box-sizing: border-box;
}
.header .navigation li{
  display: inline-block;
  margin: 0 0 0 16px;
}
.header .navigation li:hover{
  color: var(--gold);
  cursor: pointer;
}
.homeContent{
  width: 40%;
  min-width: 450px;
  margin: 8px auto;
}
/* Patch Notes*/
.patchNotes{
  width: 50%;
  min-width: 250px;
  max-height: 40vh;
  height: fit-content;
  overflow: auto;
  margin: 32px auto;
  padding: 16px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
}
.patchNotes h1{
  color: var(--gold);
  text-align: center;
  margin: 12px;
}
.patchNotes p{
  color: var(--lightGrey);
  font-size: 90%;
  margin: 12px;
  font-weight: normal;
}
.patchNotes span{
  font-weight: bold;
  font-style: italic;
}
.login{
  grid-column-start: 2;
  width: 30%;
  min-width: 210px;
  height: fit-content;
  margin: 8px auto;
  padding: 16px;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  text-align: center;
  color: white;
  font-size: 90%;
}
.inputs input{
  width: 90%;
  min-width: 150px;
  display: inline-block;
  border: none;
  background-color: var(--lightGrey);
  outline: none;
  color: var(--gold);
  caret-color: var(--gold);
  margin: 4px auto;
  padding: 8px;
}
.inputs span{
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 50%;
  font-size: 100%;
  cursor: pointer;
}
.password{
  position: relative;
}
#eye{
  color: var(--darkGrey);
}
.options input{
  width: 95%;
  min-width: 165px;
  display: block;
  border: none;
  background-color: var(--lightGrey);
  outline: none;
  color: grey;

  margin: 8px auto;
  padding: 8px;
  cursor: pointer;
}
.options input:hover{
  color: white;
  background-color: var(--gold);
  box-shadow: 0px 0px 10px 1px var(--gold);
}
/* Footer o & Misc */
footer{
  width: 100%;
  color: white;
  background-color: var(--darkGrey);
  position: fixed;
  bottom: 0;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 0;
  position: relative;
  margin-top: 400px;
}
footer .footerContent{
  padding: 16px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}
footer h1{
  display: inline-block;
  float: right;
}
/*Scrollbar*/
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: var(--darkGrey);
}
::-webkit-scrollbar-thumb{
  background: var(--lightGrey);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--gold);
}
#loadingScreen{
  width: 15vw;
  height: 15vw;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 25px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  display: table;
  padding: 50px;
  box-sizing: border-box;
}
.loader{
  border: 15px solid var(--lightGrey);
  border-top: 15px solid var(--gold);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Channels */
.channelsViewer{
  width: 50vw;
  min-width: 300px;
  height: 80vh;
  background-color: var(--darkGrey);
  margin: 16px auto;
  padding: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
}
.channelsViewer .channelsViewerOptions{
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 16px;
}
.channelsViewer input{
  display: block;
  width: 100%;
  background-color: var(--lightGrey);

  border: none;
  margin: 0 auto;
  padding: 8px;
  caret-color: var(--gold);
  color: var(--gold);
}
.channelsViewer .searchbar{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.channelsViewer .searchbar input{
  display: block;
  width: 100%;
  background-color: var(--lightGrey);

  border: none;
  margin: 0 auto;
  padding: 8px;
  caret-color: var(--gold);
  color: var(--gold);
}
.channelsViewer .searchbar i{
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  top: 50%;
  font-size: 100%;
  border-radius: 50%;
  padding: 8px;
  color: var(--darkGrey);
  background-color: var(--lightGrey);
}
.channelsViewer .searchbar i:hover{
  background-color: var(--gold);
  color: var(--lightGrey);
  cursor: pointer;
}
.channels{
  width: 100%;
  max-height: 90%;
  margin: 16px auto;
  position: relative;
  overflow: auto;
}
.channel{
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 100%;
  background-color: var(--lightGrey);
  border-radius: 20px;
  margin: 16px 8px;
  padding: 8px 12px;
}
.channel h1{
  color: white;
  font-size: 125%;
  grid-column-start: 1;
}
.channel span{
  color: var(--gold);
  font-size: 80%;
  grid-column-start: 1;
  display: block;
}
.channel button{
  width: 100%;
  float: right;
  border: none;
  border-radius: 20px;
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  grid-column-start: 2;
}
.channel button:hover{
  background-color: var(--gold);
  color: white;
  box-shadow: 0px 0px 10px 1px var(--gold);
  cursor: pointer;
}
.alert{
  color: white;
  width: 40%;
  margin: 16px auto;
  padding: 8px 16px;
  text-align: center;
  background-color: var(--red);
  border-radius: 20px;
  font-size: 90%;
  box-shadow: 0px 0px 10px 1px var(--red);
}
/* Conversation Content */
.conversationContent{
  display: grid;
  grid-gap: 16px;
  grid-template-rows: fit-content auto fit-content;
  padding: 32px;
}
.usersBar{
  width: 100%;
  margin: 0 auto;
  padding: 4px;
  color: white;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  border-radius: 25px;
}
.usersBar h1{
  display: inline-block;
  font-size: 90%;
  font-weight: lighter;
  margin: 16px;
  padding: 8px 22px;
}
#notTyping{
  background-color: var(--lightGrey);
}
#isTyping{
  background-color: var(--gold);
  box-shadow: 0px 0px 10px 1px var(--gold);
}
.messageBox{
  width: 100%;
  height: 68vh;
  overflow: auto;
  border: none;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
  margin: 0 auto;
  padding: 16px;
}
#line{
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--lightGrey);
  display: inline-block;
}
#serverMessage{
  display: block;
  display: inline-block;
  color: white;
  background-color: var(--lightGrey);
  width: fit-content;
  min-width: 150px;
  max-width: 600px;
  word-break: break-all;
  border: none;
  margin: 16px 51% 16px 16px;
  padding: 8px 12px;
  font-weight: bold;
}
#serverMessage span{
  color: #ffa845;
  font-size: 55%;
  font-weight: normal;
}
#userMessage{
  float: right;
  text-align: right;
  display: inline-block;
  color: white;
  background-color: var(--lightGrey);
  width: fit-content;
  max-width: 600px;
  word-break: break-all;
  border: none;
  margin: 16px 16px 16px 51%;
  padding: 8px 12px;
  font-weight: bold;
}
#userMessage span{
  color: #ffa845;
  font-size: 55%;
  font-weight: normal;
}
.messageBar{
  display: grid;
  grid-gap: 16px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 16px;
  grid-template-columns: 10% auto 10%;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 10px 1px var(--darkGrey);
}
.messageBar input{
  width: 100%;
  min-width: 50px;
  margin: 8px auto;
  padding: 8px;
  border: none;
  background-color: var(--darkGrey);
}
#message{
  background-color: var(--lightGrey);
  caret-color: var(--gold);
  color: var(--gold);
}
#send{
  cursor: pointer;
  border: 2px solid var(--gold);
  background-color: var(--gold);
  color: white;
}
#send:hover{
  box-shadow: 0px 0px 10px 1px var(--gold);
}
#exit{
  cursor: pointer;
  border: 2px solid var(--red);
  background-color: var(--red);
  color: white;
  padding: 0 8px;
}
#exit:hover{
  box-shadow: 0px 0px 10px 1px var(--red);
}
